[train] #train parameters
epoch = 160
batch_size = 12

shuffle = True

reader_num = 16

optimizer = adam
learning_rate = 1e-3
step_size = 1
lr_multiplier = 1

[eval] #eval parameters
batch_size = 12

shuffle = False

reader_num = 16

[data] #data parameters
train_dataset_type = JsonFromFiles
train_formatter_type = WordQA
train_data_path = /data/disk3/private/zhx/jecqa/data/cutted/v1
train_file_list = 1_train.json

valid_dataset_type = JsonFromFiles
valid_formatter_type = WordQA
valid_data_path = /data/disk3/private/zhx/jecqa/data/cutted/v1
valid_file_list = 1_test.json

test_formatter_type = WordQA

topk = 18
multi_choice = False

max_len1 = 128
max_len2 = 384

word2id = /data/disk3/private/zhx/jecqa/data/word2id.txt

[model] #model parameters
model_name = BiDAF

hidden_size = 256

bi_direction = True
num_layers = 2

[output] #output parameters
model_path = /data/disk3/private/zhx/jecqa/model/typeb/single
model_name = BiDAF

tensorboard_path = /data/disk3/private/zhx/jecqa/tensorboard

output_function = Basic
